In [1]:
import pandas as pd
data = pd.read_csv('Health_education.csv')

In [2]:
data.head()

,Category,Date,DOW,Start Time,End Time,Hours,Program,Facilitator 1,Facilitator 2,Expected Attendance,...,Unsure,Main Role On Campus,Campus Community,Organization,Contact Name & Number,Notes,Location,Latitude,Longitude,GPS Coordinates
0,AOD+IMPACT,12/5/22,Monday,3:00:00 PM,4:00:00 PM,1.0,A Conscious Cheers,Facilitator_1,Facilitator_63,NaN,...,NaN,Undergraduate,Greek Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mandatory Prog,1/7/23,Saturday,2:15:00 PM,3:15:00 PM,1.0,Count on Cougs,Facilitator_1,NaN,NaN,...,NaN,Undergraduate,First-year students,NaN,NaN,NaN,Todd Hall,46.729809,-117.163473,46° 43' 47.3124'' N\n117° 9' 48.5028'' W
2,Mandatory Prog,1/8/23,Sunday,10:30:00 AM,11:30:00 AM,1.0,Count on Cougs,Facilitator_1,NaN,NaN,...,NaN,Undergraduate,First-year students,NaN,NaN,NaN,Todd Hall,46.729809,-117.163473,46° 43' 47.3124'' N\n117° 9' 48.5028'' W
3,Mandatory Prog,1/11/23,Wednesday,10:00:00 AM,11:00:00 AM,1.0,Count on Cougs,Facilitator_1,NaN,NaN,...,NaN,Undergraduate,First-year students,NaN,NaN,NaN,G41,46.727382,-117.165967,46° 43' 38.5752'' N\n117° 9' 57.4812'' W
4,Mandatory Prog,1/17/23,Tuesday,3:00:00 PM,4:00:00 PM,1.0,Count on Cougs,Facilitator_1,NaN,NaN,...,NaN,Undergraduate,First-year students,NaN,NaN,NaN,G41,46.727382,-117.165967,46° 43' 38.5752'' N\n117° 9' 57.4812'' W

In [4]:
data.shape

(2269, 32)

In [6]:
data['Open System-wide.1'].unique()

array([nan])

In [7]:
data['Main Role On Campus'].unique()

array(['Undergraduate', 'Incoming Students', 'General ', 'Other',
       'Undergraduates/Staff/Faculty', nan, 'General', 'Student ',
       'Greek ', 'Residence Life ', 'ROAR', 'Multicultural ', 'ASCC',
       '1st semester ', 'Undergraduates/Graduates', 'MSS',
       'Multicultural', 'Greek Life ', 'Graduate', 'undergraduate',
       'Undergraduates & Graduates', 'Greek', 'Staff & Faculty',
       'Staff/Facuty', 'Staff/Faculty/Student Staff',
       'Graduates/Staff/Faculty', 'Student Staff',
       'Undergraduates & Staff', 'Staff', 'Athletics',
       'Student Staff & Staff', 'Graduate Students ', 'Student/Staff',
       'Q*Hort', 'Multicultrual ', 'Faculty', 'WA Opportunity Scholars'],
      dtype=object)

In [8]:
data['Campus Community'].unique()

array(['Greek Student', 'First-year students', 'New Student Programs',
       'GPSA', nan, 'Unsure', 'Other (Students)', 'Sigma Phi Epsilon ',
       'Lambda Chi Alpha ', 'ASCC', 'Alpha Delta Pi ',
       'Alpha Omicron Pi ', 'ASCC (not Class)', 'Class, Student',
       'Residence Hall Student', 'Registerred Student Org',
       'Multicultural&Greek Student', 'Academic Enrichment Center',
       'Lambda Phi Epsilon ', 'Chi Delta Sigma ',
       'African American Student Center', 'Lambda Theta Alpha ',
       'Gamma Iota Omicron ', 'Gamma Alpha Omega ', 'Chi Sigma Alpha ',
       'Pi Beta Phi ', 'Athletics Student', 'Sigma Nu ', 'Theta Xi ',
       'Emerging Leaders ', 'Delta Gamma ', 'Murrow Student Services ',
       'Kappa Alpha Theta ', 'System Wide', "RED's", "RA's",
       'Other (Staff)', 'Student Affairs Staff', 'Multicultural  Student',
       'First-year Students', 'Tri-Delta ', 'Sigma Kappa', 'ASWSU GIVE ',
       'Tau Kappa Epsilon ', 'UREC Climbing Wall ',
       'WA Opportunity Scholarship', 'Phi Gamma Delta ',
       'Pi  Kappa Alpha ', 'Sigma Kappa ', 'Undocumented Initiatives'],
      dtype=object)

In [9]:
data['Organization'].unique()

array([nan, 'CAPS', 'VetMed', 'New Student Programs', 'organization',
       'Residence Life ', 'ASCC', 'Health Promotion',
       'Sigma Phi Epsilon ', 'ASCC ', 'Gannon/Goldsworthy ',
       'College Success Programs ', 'College Success Scholars ', 'ROAR',
       'Murrow Student Services ', 'Athletic Training Program ',
       'Chi Delta Sigma ', 'Chi Omega', 'Alpha Delta Pi',
       'Omega Delta Phi', 'MSS ', 'MSS Mentors ',
       'Academic Enrichment Center', 'Lambda Theta Alpha ',
       'Omega Delta Phi ', 'Sigma Lambda Gamma ', 'Chi Sigma Alpha ',
       'Alpha Psi Lambda ', 'Gamma Iota Omicron ', 'Alpha Nu Sorority ',
       'Residence Life', 'Theta Chi ', "Fraternity PNM's",
       'Office of Academic Engagement/College Success Programs\xa0',
       'UNIV 250 ASCC', 'Phi Kappa Theta', 'Sigma Pi', 'Phi Kappa Sigma',
       'Sigma Nu', 'Kappa Delta', 'Gamma Phi Beta',
       'Peer Health Educators', 'Crimson Service Desk', 'ResLife',
       'Theta Xi', 'Open to all', 'MGC', 'Student Ambassador Groups',
       'CUB', 'ASWSU', 'History 105', 'UREC', 'ChemE Club', 'Res Life',
       'MSS', 'Kappa Delta Chi', 'Library', 'INTO', 'Holland Library ',
       'Mount Vernon', 'Jonell Peterson', 'Access Center', 'Vet Med',
       'Stephenson South ', 'Rogers Hall ', 'Northside Hall ',
       'Alpha Chi Omega ', 'Emerging Leaders ', 'Sigma Pi ',
       'Crimson Leadership VIP ', 'Northside Café',
       'Criminal Justice Department ', 'ASWSU Senate', 'ATVP ',
       'Facilitator_63s Hall ', 'ASWSU Judicial Board', 'Panhellenic ',
       'Pre-Health Club ', 'Northside Dining',
       'Biomass Engineering Club ', 'Pi Beta Phi ', 'GIESORC',
       'CRCI/Graduate School', 'Crop and Soil Sciences', 'WST 101 ',
       'Theta Xi ', 'Scott Coman Hall ', 'Orton Hall ', 'Delta Gamma',
       'Pi Beta Phi', 'Sigma Kappa Sorority', 'Sigma Phi Epsilon'],
      dtype=object)

In [10]:
data.drop(columns=['Facilitator 2', 'Open System-wide.1', 'Contact Name & Number', 'Notes'], inplace=True)

In [11]:
data.head()

,Category,Date,DOW,Start Time,End Time,Hours,Program,Facilitator 1,Expected Attendance,Actual Attendance,...,Vancouver,Non-WSU,Unsure,Main Role On Campus,Campus Community,Organization,Location,Latitude,Longitude,GPS Coordinates
0,AOD+IMPACT,12/5/22,Monday,3:00:00 PM,4:00:00 PM,1.0,A Conscious Cheers,Facilitator_1,NaN,14.0,...,NaN,NaN,NaN,Undergraduate,Greek Student,NaN,NaN,NaN,NaN,NaN
1,Mandatory Prog,1/7/23,Saturday,2:15:00 PM,3:15:00 PM,1.0,Count on Cougs,Facilitator_1,NaN,7.0,...,NaN,NaN,NaN,Undergraduate,First-year students,NaN,Todd Hall,46.729809,-117.163473,46° 43' 47.3124'' N\n117° 9' 48.5028'' W
2,Mandatory Prog,1/8/23,Sunday,10:30:00 AM,11:30:00 AM,1.0,Count on Cougs,Facilitator_1,NaN,22.0,...,NaN,NaN,NaN,Undergraduate,First-year students,NaN,Todd Hall,46.729809,-117.163473,46° 43' 47.3124'' N\n117° 9' 48.5028'' W
3,Mandatory Prog,1/11/23,Wednesday,10:00:00 AM,11:00:00 AM,1.0,Count on Cougs,Facilitator_1,NaN,14.0,...,NaN,NaN,NaN,Undergraduate,First-year students,NaN,G41,46.727382,-117.165967,46° 43' 38.5752'' N\n117° 9' 57.4812'' W
4,Mandatory Prog,1/17/23,Tuesday,3:00:00 PM,4:00:00 PM,1.0,Count on Cougs,Facilitator_1,NaN,21.0,...,NaN,NaN,NaN,Undergraduate,First-year students,NaN,G41,46.727382,-117.165967,46° 43' 38.5752'' N\n117° 9' 57.4812'' W

In [13]:
data['Format'].unique()

array(['In-Person', 'In-person', 'Online - Live', nan, 'Online-Live',
       'In-Person & Online Live', 'Online - LIVE', 'online - live'],
      dtype=object)

In [16]:
data['Everett'].fillna(0, inplace=True)

In [17]:
data['Global'].fillna(0, inplace=True)
data['Pullman'].fillna(0, inplace=True)
data['Spokane'].fillna(0, inplace=True)
data['Tri Cities'].fillna(0, inplace=True)
data['Vancouver'].fillna(0, inplace=True)

In [19]:
data.to_csv('Health_education_cleaned.csv', index=False)